<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/picsart-04-03-05-9.webp" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>services</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-t75Gb3gXMs" once="menu" id="menu2-a">
    
    <% include ./partials/nav %> 
</section>

<section class="header6 cid-t77WVVZBQV" id="header6-n">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Our Services</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">Our platform will be ready to make your dreams come through.<br></p>
                
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-t782pEG9k9" id="features17-t">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-george-milton-6953872-980x1470.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Host exclusive live audio broadcasts</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">As an audio creator or individual that wants to host an exclusive live audio broadcast, get paid by your audience or subscribers on your broadcasts, the Beevibe platform is here to offer you these exclusive features.<br></p>
                        <div class="mbr-section-btn mt-3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t77XytYRlh" id="features16-o">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>crowdfunding</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">As part of our commitments to help you grow, we are here to offer you, the best and most secure platform to kickstart your crowdfunding journey using crypto. We will ensure that you are seen, heard and funded.<br></p>
                        <div class="mbr-section-btn mt-3"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-rodnae-productions-7414105-980x1470.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-t77Xz29dHe" id="features17-p">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-caleb-oquendo-4889280-980x1743.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Audio broadcasts</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">As an audio creator or individual that wants to host an exclusive live audio broadcast, get paid by your audience or subscribers on your broadcasts, the Beevibe platform is here to offer you these exclusive features.<br></p>
                        <div class="mbr-section-btn mt-3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t77ZGriKXs" id="features16-r">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>Connect through audio vibes&nbsp;</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Keep track of the latest and exclusive audio contents amongst your friends when you connect on the Beevibe platform. Automatically share and discover amazing audio contents.</p>
                        <div class="mbr-section-btn mt-3"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-wendy-wei-1190298-980x653.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-t75GIMOLv1" once="footers" id="footer1-b">

    
   
     
    <% include ./partials/footer %> 
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/g" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Designed with <a href="https://mobirise.site/b" style="color:#aaa;">Mobirise</a> web themes</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>