<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/picsart-04-03-05-9.webp" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-t75Gb3gXMs" once="menu" id="menu2-0">
    
    <% include ./partials/nav %> 
</section>

<section class="header6 cid-t75GbRzgGO mbr-fullscreen mbr-parallax-background" id="header6-1">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1">Experience the best interactive audio connection in real time.</h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Crowdfund, earn on your live audio broadcasts and discover the best audio contents.
                </p>
                
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-t75GdZFKuo" id="features1-2">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5"><strong>We will reward you immensely for your passion.</strong></h3>
                
            </div>
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-rocket"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Build a fan base</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">automatically share your favorite audio contents &amp; engage regularly with your fans/followers to increase your chances of getting rewarded.<br></p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-music"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Live audio broadcasts</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">As an audio creator or individual looking for the best possible platform to earn &amp; host the best interactive live audio broadcasts, Beevibe automatically got you covered</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-cash"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>raise money and get funded&nbsp;</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">&nbsp;looking to raise funds? with our audio crowdfunding feature, you can easily schedule and pitch to a large audience while you get direct fundings using stable coins.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="features16 cid-t75T945fHv" id="features17-c">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-wallace-chuck-3587496-980x1470.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Experience the best interactive audio connection in real time.</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Crowdfund, earn on your live audio broadcasts and discover the best audio contents.</p>
                        <div class="mbr-section-btn mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t75TEn28C3" id="features16-d">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Do you want to create a crowdfunding event and get the attention or funds you deserve?</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            We are here to increase your chances of getting noticed and funded, we will automatically notify users who might be interested in funding your project or cause anytime you create a crowdfunding event and select a preferred category of your choice on the Beevibe platform.</p>
                        <div class="mbr-section-btn mt-3"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-wendy-wei-1540406-980x1470.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-t75TEOgiJy" id="features17-e">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-wendy-wei-2183361-2-980x1470.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Ever wondered where you can host your live audio broadcast and get paid?</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">As an audio creator/podcaster, we offer you an exclusive feature where you can decide to monetize your live audio broadcasts &amp; increase your chances of getting paid.<br></p>
                        <div class="mbr-section-btn mt-3">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t75Gmy0Z4j" id="features16-3">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Why Beevibe app?</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Whether you are interested in crowdfunding, getting paid off your live audio broadcasts and connecting through audio, Our platform will be ready to make your dreams come through.</p>
                        <div class="mbr-section-btn mt-3"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-vlad-bagacian-1337753-980x1470.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-t75GIMOLv1" once="footers" id="footer1-4">

     
    <% include ./partials/footer %> 
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/d" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site" style="color:#aaa;">https://mobirise.com</a> simple site creator</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>